{% include 'find_tickets/header.html' %}
{% load static %}

    <div class="event-groupings-list">
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>{{event.day}}</p>
                    </div>
                    <div class="monthDay">
                        <p>{{event.date}}</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <a href="{% url 'search:event' event_id=event.id %} ">{{event.title}}</a>
                </div> 
                <div class="eventTimeLocation">
                    <p>{{event.time}} - {{event.venue}}</p>
                </div>
                 
            </div>
        </div>
            <div id="seatingMap">
                <img id="mapPic" src="http://{{event.image}}"><br>
            </div>
            <div id="eventTable">
                        <a href="{%url 'search:event' event_id=event.id sort_by='price' %}"><button type="">Price</button></a><a href="{%url 'search:event' event_id=event.id sort_by='value' %}"><button type="">Value</button></a><a href="{%url 'search:event' event_id=event.id sort_by='best_tickets' %}"><button type="">Best Tickets</button></a>
                            <h4>NUMBER OF TICKETS</h4>
                            <form action="{%url 'search:ticket_change' %}" method="post">
                            {% csrf_token %}
                                <select name="numberOfTix" id="numberOfTix">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>            
                                </select>
                            <input type="hidden" name="event_id" value="{{event.id}}">
                            <input id="checkoutButton" type="submit" value="Ticket Reload">
                            </form>
                        
                        <table class="table" id="ticket-list"> 
                        
                        <thead>
                            <tr>
                                <th>Zone</th>
                                <th>Section</th>
                                <th>Row</th>
                                <th>Price</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for listing in listings %}
                            <tr class='clickable-row' data-href="{% url 'checkout:index' listing_id=listing.id %}"> 
                                <td>
                                    {{listing.zone}}<br>
                                    {{listing.num_tix}} Tickets 
                                </td>
                                <td>{{listing.section}} </td>
                                <td>{{listing.row}}</td>
                                <td>
                                    {{listing.price}}<br>
                                    {{listing.delivery}} 
                                </td>
                                <td  class="tickets">Value</td>
                            </tr>
                        {% endfor %}    
                        </tbody>
                        </table>
                    </div> 
                </div> 
            </div>
            
    
        {% include 'find_tickets/footer.html' %}