{% load static %}
<div id="footer">
                <div id="footerGetApps">
                    <img id="usaLogo" src="{% static 'main/images/usa.png' %}" alt="usa">
                    <h4 id="usaText">United States</h4>
                    <h4>Get the StubHub app</h4>
                    <img src="{% static 'main/images/apps.png' %}" alt="apps">
                </div>
                <div id="footerConnectWithUs">
                    <h4>Connect with us</h4>
                    <img class="connectWithUsMedia" src="{% static 'main/images/facebookLogo.png' %}" alt="facebook">
                    <img class="connectWithUsMedia" src="{% static 'main/images/instagramLogo.jpg' %}" alt="instagram">
                    <img class="connectWithUsMedia" src="{% static 'main/images/twitterLogo.png' %}" alt="twitter">
                    <img id="messenger" src="{% static 'main/images/messenger.png' %}" alt="messenger">
                </div>
                <div id="footerAbout">
                    <div id="aboutStubHub">
                        <h4>About StubHub</h4>
                        <ul>
                            <a href=""><li>About us</li></a>
                            <a href=""><li>Careers</li></a>
                            <a href=""><li>Help</li></a>
                            <a href=""><li>Partners</li></a>
                            <a href=""><li>Press Box</li></a>
                            <a href=""><li>Terms, Privacy & Cookies</li></a>
                        </ul>
                    </div>
                    <div id="fanHub">
                        <h4>Fan Hub</h4>
                        <ul>
                            <a href=""><li>Events by venue</li></a>
                            <a href=""><li>Gift cards</li></a>
                            <a href=""><li>Last Minute Services</li></a>
                            <a href=""><li>Notifications</li></a>
                            <a href=""><li>The StubHub Promise</li></a>
                        </ul>
                    </div>
                </div>
                <div id="rights">
                    <div id="fanProtect">
                        <img src="{% static 'main/images/fanprotect.png' %}" alt="fanprotect">
                        <h6>Buy and sell with confidence</h6>
                        <h6>Customer service all the way to your seat</h6>
                        <h6>Every order is 100% guaranteed</h6>
                    </div>
                    <div id="allRightsReserved">
                        <p id="rightsTextTop">2000-2017. All Rights Reserved. Use of this website signifies your agreement to our <a href="">User Agreement, Privacy Notice and Cookie Notice.</a></p>
                        <p id="rightsTextBottom">You are buying tickets from a third party; StubHub is not the ticket seller. Prices are set by sellers and may be above face value</p>
                    </div>
                </div>
            </div>