{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="{% static 'main/javascript/homePage.js' %}"></script>
        <script src="{% static 'find_tickets/javascript/script.js' %}"></script>
        <link rel="icon" href="{% static 'main/images/logo.png' %}">
        <title>Buy sports, concert and theater</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="row">
                    <div class="col-md-6 headerLeft">
                        <img id="logo" class="inlineBlock" src="{% static 'main/images/StubHubLogo.png' %}" alt="StubHubLogo">
                        <p class="inlineBlock">Find events</p>
                    </div>
                    <div class="col-md-6 headerRight">
                        <div class="row">
                            <div class="col-md-12" id="headerGHE">
                                <a href=""><h6 class="inlineBlock marginLeft">Gift cards</h6></a>
                                <a href=""><h6 class="inlineBlock marginLeft">Help</h6></a>
                                <a href=""><h6 class="inlineBlock marginLeft">English</h6></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="headerSMS">
                                <a href=""><h5 class="inlineBlock marginLeft">Sell Tickets</h5></a>
                                <a href=""><h5 class="inlineBlock marginLeft">My Tickets</h5></a>
                                <a href=""><h5 id="signIn" class="inlineBlock marginLeft">Sign in</h5></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 searchBar">
                        <form action="{% url 'search:process' %}" method="post">
                            {% csrf_token %}
                            <input id="searchBar" name="searchInfo" type="text" placeholder="Seach for events, artist, teams or venues">
                            <input id="searchIcon" type="image" src="{% static 'main/images/searchIcon.png' %}" alt="searchIcon">
                        </form>
                    </div>
                </div>
            </div>
