<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'checkout/css/styles.css' %}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="icon" href="{% static 'main/images/logo.png' %}">
        <script src="{% static 'checkout/javascript/script.js' %}"></script>
        <title>{{listing.event.title}}</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div class="row">
                    <div class="col-md-6 headerLeft">
                        <img id="logo" class="inlineBlock" src="{% static 'main/images/StubHubLogo.png' %}" alt="StubHubLogo"> 
                        <p class="inlineBlock">Find events</p>
                    </div>
                    <div class="col-md-6 headerRight">
                        <div class="row">
                            <div class="col-md-12" id="headerGHE">
                                <a href=""><p class="inlineBlock marginLeft ghe">Gift cards</p></a>
                                <a href=""><p class="inlineBlock marginLeft ghe">Help</p></a>
                                <a href=""><p class="inlineBlock marginLeft ghe">English</p></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" id="headerSMS">
                                <a href=""><p class="inlineBlock marginLeft sms">Sell Tickets</p></a>
                                <a href=""><p class="inlineBlock marginLeft sms">My Tickets</p></a>
                                <a href=""><p class="inlineBlock marginLeft sms">Signout</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="body">
                <h3>Order Details</h3>
                <div id="venuePic"></div>
                <div id="ticketInfoContainer">
                    <div class="event">
                        <div class="eventDate">
                            <div class="eventDay">
                                <div class="day">
                                    <p>{{listing.event.start_time | date:"D"}}</p>
                                </div>
                                <div class="monthDay">
                                    <p>{{listing.event.start_time | date:"M d"}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="eventDetails">
                            <div class="eventTitle">
                                <p>{{listing.event.title}}</p>
                            </div>
                            <div class="eventTimeLocation">
                                <p>{{listing.event.start_time | date:"g:i A"}} - {{listing.event.venue.title}}</p>
                            </div>
                        </div>
                    </div>
                    <h4>SELECTED SEATS</h4>
                    <div id="sectionRowSeatText">
                        <p class="inlineBlock srs">Section</p>
                        <p class="inlineBlock srs">Row</p>
                        <p class="inlineBlock srs">Seat</p>
                    </div>
                    <div id="seatInfo">
                        <h4 class="inlineBlock listing">{{listing.section}}</h4>
                        <h4 class="inlineBlock listing">{{listing.zone}}</h4>
                        <h4 class="inlineBlock listing">{{minSeat}} - {{maxSeat}}</h4>
                    </div>
                    <div id="features">
                        <h5>SEAT FEATURES & TICKET DISCLOURES</h5>
                        <h5>Food and beverages available for purchase</h5>
                    </div>
                    <div id="delivery">
                        <h4>DELIVERY</h4>
                        <h5>Instant Download</h5>
                        <h5>Ready to download and print within minuetes</h5>
                    </div>
                    <div id="TicketPriceContainer">
                        <div id="TicketPrice">
                            <h4>TICKET PRICE</h4>
                            <h3 id="ticketPriceText">${{price}}0 each.</h3>
                        </div>
                        <div id="numOfTickets">
                            <h4>NUMBER OF TICKETS</h4>
                        <form action="{%url 'checkout:process' listing_id=listing.id%}" method="post">
                        {% csrf_token %}
                            <select name="numberOfTix" id="numberOfTix">
                                {% for seat in maxSeatsList %}
                                    <option value="{{seat}}">{{seat}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" name="priceOfTix" value="{{price}}">
                        <input id="checkoutButton" type="submit" value="Go to checkout">
                    </div>
                        </form>
                </div>
            </div>
        </div>
    </body>
</html>