<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'checkout/css/payment.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>StubHub!</title>
        </head>
    <body id="wrapper">
        <div id="body">
            <h1 id="addPayment">Add A Payment</h1>
            <h1>Visa Checkout</h1>
            <h4>The easier way to pay online.</h4>
            <img class="centerImage" src="{% static 'checkout/images/visa.png' %}" alt="visa">
            <h5 id="or">Or</h5>
            <h1>Use PayPal</h1>
            <h4>Pay fast, easy and secure with PayPal</h4>
            <img class="centerImage" src="{% static 'checkout/images/paypal.png' %}" alt="visa">
            <h5 id="or">Or</h5>
            <h1>Credit or Debit card</h1>
            <h4>Pay safely using your Visa, Discover, AMEX or Mastercard.</h4>
            <img class="centerImage" src="{% static 'checkout/images/cards.png' %}" alt="cards">
        </div>
    </body>
</html>