{% load static %}
<div class="eventContainer">
    <div class="title">
        <img class="starIcon" src="{% static 'main/images/starIcon.png' %}" alt="starIcon">
        <p class="eventTitleHeader">{{performer.performer}}</p>
    </div>
    <div class="event-groupings-list">
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>{{performer.p1.day | date:"D"}}</p>
                    </div>
                    <div class="monthDay">
                        <p>{{performer.p1.date | date:"M d"}}</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <p>{{performer.p1.title}}</p>
                </div>
                <div class="eventTimeLocation">
                    <p>{{performer.p1.time | date:"g:i A"}} - {{performer.p1.venue}}</p>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>{{performer.p2.day | date:"D"}}</p>
                    </div>
                    <div class="monthDay">
                        <p>{{performer.p2.date | date:"M d"}}</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <p>{{performer.p2.title}}</p>
                </div>
                <div class="eventTimeLocation">
                    <p>{{performer.p2.time | date:"g:i A"}} - {{performer.p2.venue}}</p>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>{{performer.p3.day | date:"D"}}</p>
                    </div>
                    <div class="monthDay">
                        <p>{{performer.p3.date | date:"M d"}}</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <p>{{performer.p3.title}}</p>
                </div>
                <div class="eventTimeLocation">
                    <p>{{performer.p3.time | date:"g:i A"}} - {{performer.p3.venue}}</p>
                </div>
            </div>
        </div>
    </div>
</div>