{% load static %}
<div class="eventContainer">
    <div class="title">
        <img class="starIcon" src="{% static 'main/images/starIcon.png' %}" alt="starIcon">
        <p class="eventTitleHeader">{{primaryPerformer}}</p>
    </div>
    <div class="event-groupings-list">
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>{{event.start_time | date:"D"}}</p>
                    </div>
                    <div class="monthDay">
                        <p>{{event.start_time | date:"M d"}}</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <p>{{event.title}}</p>
                </div>
                <div class="eventTimeLocation">
                    <p>{{event.start_time | date:"g:i A"}} - {{event.venue.title}}</p>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>FRI</p>
                    </div>
                    <div class="monthDay">
                        <p>JUL 27</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <p>Chicago Cubs at Chicago White Sox</p>
                </div>
                <div class="eventTimeLocation">
                    <p>1:20 PM - Wrigley Field</p>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>SAT</p>
                    </div>
                    <div class="monthDay">
                        <p>JUL 30</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <p>Chicago Cubs at Chicago White Sox</p>
                </div>
                <div class="eventTimeLocation">
                    <p>1:20 PM - Wrigley Field</p>
                </div>
            </div>
        </div>
        <div class="seeMore">
            <p>View more events</p>
        </div>
    </div>
</div>