.register, .login{
    margin: auto;
    margin-top: 10px;
    display: block;
    width: 120px;
}

.msg {
    text-align: center;
    color: red;
    margin-bottom: 10px;
}

.footer{
    height: 100px;
}

.left, .right {
    display: inline-block;
}

.success-msg{
    color: green;
}