{% load static %}
    <div class="event-groupings-list">
        <div class="event">
            <div class="eventDate">
                <div class="eventDay">
                    <div class="day">
                        <p>{{event.day}}</p>
                    </div>
                    <div class="monthDay">
                        <p>{{event.date}}</p>
                    </div>
                </div>
            </div>
            <div class="eventDetails">
                <div class="eventTitle">
                    <a href="{% url 'search:event' event_id=event.id %} ">{{event.title}}</a>
                </div> 
                <div class="eventTimeLocation">
                    <p>{{event.time}} - {{event.venue}}</p>
                </div>
            </div>
        </div> 
    </div>
    <div id="priceContainer">
        <p id="from">From</p>
        <p id="priceText">${{event.min_price}}</p>
    </div> 