<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% load static %}
        <link rel="stylesheet" href="{% static 'find_tickets/css/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src=" "></script>
        <title>How Many Tickets?</title>
    </head>
    <body>
        {% include 'find_tickets/header.html' %}
    <h1 id="howManyTicketsText">How Many tickets would you like?</h1>   
        <div class="howManyTicketsContainer">
            <a href="{% url 'search:ticketspass' event_id=event_id tickets=1 %}"><button class="howManyTicketsButtom" type="">1</button></a>
            <a href="{% url 'search:ticketspass' event_id=event_id tickets=2 %}"><button class="howManyTicketsButtom" type="">2</button></a>
            <a href="{% url 'search:ticketspass' event_id=event_id tickets=3 %}"><button class="howManyTicketsButtom" type="">3</button></a>
            <a href="{% url 'search:ticketspass' event_id=event_id tickets=4 %}"><button class="howManyTicketsButtom" type="">4</button></a>
            <a href="{% url 'search:ticketspass' event_id=event_id tickets=5 %}"><button class="howManyTicketsButtom" type="">5 or more</button></a>
        </div>   
    </body>
</html>