<div class="container"><h2>My hub</h2></div>

<div id="exTab2" class="container">	
<ul class="nav nav-tabs">
	<li class="active">
    <a  href="#1" data-toggle="tab">My Hub</a>
    </li>
    <li><a href="#2" data-toggle="tab">Gift Codes</a>
    </li>
    <li><a href="#3" data-toggle="tab">Favorites</a>
    </li>
    
    <li><a href="#4" data-toggle="tab">Settings</a>
    </li>
</ul>

<div class="tab-content ">
    <div class="tab-pane active" id="1">
        <div class="whatsNextHeader">
            <h3 class="whatsNextText">WHAT'S NEXT<h3> 
            <a class="floatRight" href="{% url 'my_hub:index' %}">View current and past order</a>
        </div>
                
        {% if futuretrans %}
            {% for listing in futuretrans %}
                <div class="myHubElement">
                    <br>Listing No. {{listing.id}} <br>
                    <a href="{% url 'search:event' event_id=listing.event_id %}">{{listing.event}}</a><br>
                    {{listing.start}}<br>
                    at <a href="{% url 'search:venue' venue_id=listing.venue_id %}">{{listing.venue}}</a>, {{listing.city}}
                </div>
            {% endfor %}
        {% else %}
            <p>You don’t have any upcoming events scheduled right now.</p>
        {% endif %}

        <div class="whatsNextHeader">
            <h3 class="whatsNextText">Listings<h3> 
            <a class="floatRight" href="{% url 'my_hub:index' %}">View current and past listings</a>
        </div>
                
        {% if activelists %}
            {% for listing in activelists %}
                <div class="myHubElement">
                    <br>Listing No. {{listing.id}} <br>
                    <a href="{% url 'search:event' event_id=listing.event_id %}">{{listing.event}}</a><br>
                    {{listing.start}}<br>
                    at <a href="{% url 'search:venue' venue_id=listing.venue_id %}">{{listing.venue}}</a>, {{listing.city}}
                </div>
            {% endfor %}
        {% else %}
            <p>You don’t have any upcoming events scheduled right now.</p>
        {% endif %}


        <div class="whatsNextHeader">
            <h3 class="whatsNextText">Sales<h3> 
            <a class="floatRight" href="{% url 'my_hub:index' %}">View current and past Sales</a>
        </div>
                
        {% if all_sales %}
            {% for sale in all_sales %}
                <div class="myHubElement">
                    <br>Listing No. {{sale.id}} <br>
                    <a href="{% url 'search:event' event_id=sale.event_id %}">{{sale.event}}</a><br>
                    {{sale.start}}<br>
                    at <a href="{% url 'search:venue' venue_id=sale.venue_id %}">{{sale.venue}},</a> {{sale.city}}
                </div>
            {% endfor %}
        {% else %}
            <p>You don’t have any upcoming events scheduled right now.</p>
        {% endif %}

        <div class="whatsNextHeader">
            <h3 class="whatsNextText">Contact Info<h3> 
            <a class="floatRight" href="{% url 'my_hub:index' %}">Change Password</a>
        </div><br>
            {{user.first}} {{user.last}}<br>
            {{user.address}}<br>
            {{user.city}}, {{user.state}} {{user.zip}}
    </div>    
    
    <div class="tab-pane" id="2">
         <div><h4>FanCodes & Gift Codes Details</h4>  </div>
        <div>
            <form action="{% url 'my_hub:index' %}">
                <div class="form-group">
                <label for="fan_gift_code">Add a FanCode & gift Code</label>
                <input type="fan_gift_code" class="form-control" id="fan_gift_code" placeholder="FanCode number/gift code" name="fan_gift_code"><button type="submit" class="btn btn-default">Add</button>
    </div>
    

            </form>
            </div> 
        </div>
        <div class="tab-pane" id="3">
          <div id="Favorites" class="container">	
<ul class="nav nav-tabs">
			<li class="active">
            <a  href="#3a" data-toggle="tab">Artists</a>
			</li>
			<li><a href="#3b" data-toggle="tab">Team</a>
			</li>
			<li><a href="#3c" data-toggle="tab">Venues</a>
            </li>
            
			<li><a href="#3d" data-toggle="tab">Events</a>
			</li>
        </ul>
        Click the star to remove from favorites.
				</div>
			</div>
        <div class="tab-pane" id="4">
          <div id="Settings" class="container">	
<ul class="nav nav-tabs">
			<li class="active">
            <a  href="#4a" data-toggle="tab">Payment</a>
			</li>
			<li><a href="#4b" data-toggle="tab">Notifications</a>
			</li>
			<li><a href="#4c" data-toggle="tab">Contact</a>
            </li>
            
			<li><a href="#4d" data-toggle="tab">Linked Accounts</a>
            </li>
        </ul>
        Payment options for buying tickets<br>
        <br>
        {% if ccs %}
            {% for cc in ccs %}
                <div class="myHubElement">
                    Name on Card : {{cc.name}}   <br>CC: XXXX-XXXX-XXXX-{{cc.num_end}} <br>EXP:{{cc.exp_date}} <a href="{% url 'my_hub:cc_delete' cc_id=cc.id %}">delete</a>
                        <img src="http://{{cc.thumbnail}}" alt="map">
                </div>
            {% endfor %}
        {% else %}
            <p>You don’t have any upcoming events scheduled right now.</p>
        {% endif %}

            <a href="{% url 'my_hub:cc_add_form' %}">Add a new payment option</a>
        </div>
        Payment options for selling tickets

            <div id="Payment Currency" class="container">	
<ul class="nav nav-tabs">
			<li class="active">
            <a  href="#4ai" data-toggle="tab">USD($)</a>
			</li>
			<li><a href="#4bii" data-toggle="tab">GBP(£)</a>
			</li>
			<li><a href="#4ciii" data-toggle="tab">EUR (€)</a>
            </li>
            </ul></div>    

            <br>The payment method change will be applied to both existing and new listings.
Note: This change doesn't apply to "In Progress" payments for already sold tickets.
 <div class="radio disabled">
  <label><input type="radio" name="paypal"><a href="">Link your PayPal account to receive payments</a></label>
</div>
<div class="radio disabled">
  <label><input type="radio" name="direct_deposit">Direct deposit<a href="">Add a new direct deposit account for selling</a><br> 
    Please add a bank account that accepts payments in the currency you listed your tickets in.<br>
    Or choose PayPal to receive payments.
    </label>
</div>
    <br>

    
    				</div>
            </div>
            
            
        </div>    

<hr></hr>

<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>