*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: auto;
}
.headerLeft{ 
    background-color: #260354;
    height: 90px;
    padding-left: 100px;
    padding-top: 15px;
}
.headerRight{
    background-color: #260354;
    height: 90px;
    padding-right: 100px;
    padding-top: 15px;
}
#logo{
    height: 75px;
    width: 125px;
}
.inlineBlock{
    display: inline-block;
    color: white;
}
.marginLeft{
    float: right;
    margin-left: 20px;
}
#headerGHE{
    height: 30px;
}
#headerSMS{
    height: 30px;
}
#when{
    width: 250px;
    height: 50px;
    display: inline-block;
    padding: 7px;
    vertical-align: top;
    border-right: 1px solid #E7EAEC;
}
#body{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F6F8F9;
}
.eventContainer{
    text-align: left;
    border: 1px solid #e7eaec;
    background-color: #fff;
    margin-bottom: 10px;
}
.title{
    height: 68px;
    padding-top: 25px;
    padding-left: 20px;
}
.event-groupings-list{
    display: block;
}
.event{
    position: relative;
    height: 105px;
    box-sizing: border-box;
    border-bottom: 1px solid #CFD4D9;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
}
.eventTitleHeader{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    color: #525252;
    font-weight: bold;
    font-size: 17px;
    overflow:hidden;
}
.eventDate{
    width: 95px;
    height: 95px;
    padding-top: 15px;
    display: inline-block;
}
.eventDay{
    width: 95px;
    height: 50px;
    border-right: 1px solid #CFD4D9;
    padding-left: 25px;
}
.day{
    margin-top: 10px;
    height: 24px;
    width: 100%;
    color: #00A1A1;
    font-weight: 500;
    font-size: 21px;
}
.monthDay{
    height: 20px;
    color: #87909A;
    margin-top: 5px;
}
.eventDetails{
    display: inline-block;
    margin-left: 5px;
    padding-right: 10px;
    vertical-align: top;
    padding-top: 25px;
    overflow:hidden;
}
.eventTitle{
    font-size: 16px;
    color: #085F99;
    overflow:hidden;
}
.eventTimeLocation{
    height: 25px;
    font-size: 12px;
    font-weight: 500;
    color: #828282;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow:hidden;
}
h6{
    margin-bottom: 0px;
    color: #616A75;
}
#rightsTextTop{
    font-size: 10px;
    margin-bottom: 0px;
    color: #7E868F;
}
#rightsTextBottom{
    font-size: 10px;
    margin-left: 40px;
    color: #7E868F;
}

#body{
    width: 100%;
    height: 700px;
}
#venuePic{
    width: 55%;
    height: 560px;
    display: inline-block;
    padding: 40px;
    padding-top: 0px;
    vertical-align: top;
    background-image: url("/static/checkout/images/seating.jpg");
    background-size: cover;
    background-size: 100%;
}
#ticketInfoContainer{
    width: 40%;
    height: 700px;
    display: inline-block;
    padding: 40px;
    padding-top: 0px;
}
h4{
    color: #87909A;
}
h5{
    color: #87909A;
}
#sectionRowSeatText{
    height: 30px;
}
.srs{
    margin-right: 75px;
    color: #87909A;
}
#seatInfo{
    width: 100%;
    height: 50px;
}
#features{
    height: 100px;
    border-bottom: 2px dotted #C1C1C1;
}
#delivery{
    height: 100px;
    border-bottom: 2px dotted #C1C1C1;
    padding-top: 5px;
}
#TicketPriceContainer{
    height: 100px;
    border-bottom: 2px solid #C1C1C1;
}
#TicketPrice{
    height: 100px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
#numOfTickets{
    height: 100px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
#ticketPriceText{
    color: #5C6570;
}
#numberOfTix{
    width: 190px;
    height: 30px;
    margin-top: 7px;
}
#checkoutButton{
    height: 60px;
    width: 100%;
    background-color: #D92B79;
    margin-top: 15px;
    text-align: center;
    padding-top: 1px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}
.listing{
    margin-right: 95px;
    color: #87909A;
}