<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'checkout/css/payment.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'checkout/css/card.css' %}">
        <script src="{% static 'checkout/javascript/jquery.payform.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'checkout/javascript/card.js' %}"></script>
        <script src="{% static 'sell_tickets/bootstrap-sweetalert/dist/sweetalert.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'sell_tickets/bootstrap-sweetalert/dist/sweetalert.css' %}">
        <title>StubHub!</title>
        </head>
    <body id="wrapper">
        <div id="body">
            <a href="/"><h6 id="returnHome">Return Home</h6></a>
            <h1 id="addPayment">Add A Payment</h1>
            <h1>Visa Checkout</h1>
            <h4>The easier way to pay online.</h4>
            <img class="centerImage" src="{% static '/checkout/images/visaLogo.png' %}" alt="visa">
            <h5 id="or">Or</h5>
            <h1>Use PayPal</h1>
            <h4>Pay fast, easy and secure with PayPal</h4>
            <img class="centerImage" src="{% static 'checkout/images/paypal.png' %}" alt="visa">
            <h5 id="or">Or</h5>
            <h1>Credit or Debit card</h1>
            <h4>Pay safely using your Visa, Mastercard or AMEX.</h4>
            <div class="creditCardForm">
                <div class="payment">
                    <form action="checkout/confirmation" method="post" id="cardForm">
                    {% csrf_token %}
                        <div class="form-group owner">
                            <label for="owner">Owner</label>
                            <input type="text" class="form-control" name="cardOwner" id="owner">
                        </div>
                        <div class="form-group CVV">
                            <label for="cvv">CVV</label>
                            <input type="text" class="form-control" name="cvvOwner" id="cvv">
                        </div>
                        <div class="form-group" id="card-number-field">
                            <label for="cardNumber">Card Number</label>
                            <input type="text" class="form-control" name="cardNumberOwner" id="cardNumber">
                        </div>
                        <div class="form-group" id="expiration-date">
                            <label>Expiration Date</label>
                            <select name="expirationMonth">
                                <option value="01">January</option>
                                <option value="02">February </option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">August</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <select name="expirationYear">
                                <option value="17"> 2017</option>
                                <option value="18"> 2018</option>
                                <option value="19"> 2019</option>
                                <option value="20"> 2020</option>
                                <option value="21"> 2021</option>
                                <option value="22"> 2022</option>
                            </select>
                        </div>
                        <div class="form-group" id="credit_cards">
                            <img src="{% static '/checkout/images/visa.jpg' %}" id="visa">
                            <img src="{% static '/checkout/images/mastercard.jpg' %}">
                            <img src="{% static '/checkout/images/amex.jpg' %}">
                        </div>
                        <div class="form-group" id="pay-now">
                            <button type="submit" class="btn btn-default" id="confirm-purchase">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>